@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import "mixin";
$color_searchbar:#f7ebeb;
$logo_width: 8.25rem;
$logo_height: 5.313rem;
$font_Urbanist:  'Urbanist', sans-serif;
$font_poopins500:'Poppins', sans-serif;
$font_Nivala: 'Poppins', sans-serif;
$font_Roboto: 'Roboto', sans-serif;
$color_hotpink:#F94F46;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


// Animation Underline 
.effect-one > a {
	position: relative;
    color: $color_hotpink;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		margin: -5px 0;
		background-color: $color_hotpink;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.4s ease-in-out 0s;
	}
	&:hover:before {
        
		visibility: visible;
		transform: scaleX(1);
	}
}


header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 6rem;
   
        #logo{
         
            padding-left: 5rem;
            padding-right: 4rem;
            img{
                height: $logo_height;
                width: $logo_width;
            }
        }

        #link_nav{  
            
            .links{
                display: flex;
                
                a{
                   margin-right: 2rem;
                    font-family: $font_poopins500;
                    color: rgb(61, 61, 61);
                    font-size: .9rem;
                }

                
            }
        }
    

    #user_nav{
        display: flex;
        padding-left: 2rem;
        padding-right: 5rem;
        
        #search_bar{
            border-radius: 28px;
            border-style: none;
            background-color:$color_searchbar;
            width: 15rem;
            height: 2.6rem;
            display: flex;
            justify-content:space-between;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
            
            input{
                height:1.2rem ;
                width: 10rem;
                font-size: 1rem;
                background: transparent;
                border: 0;
                outline: none;
                margin-left:1rem ;
                padding-top: .7rem;
            }

            img{
                margin-right: 1rem;
                padding-top: .7rem;
                width: 1rem;
                height: 1rem;
            }
        }

        div{       
            display: flex;
            #menu{
                display: none;
            }
            img{
                margin-left: .6rem;
                height: 2.4rem;
                width: 2.4rem;
            }
        }
        
    }

}


#link_nav_2{  
    display: none;
    flex-direction: column;
    height: 2rem;
    box-shadow: rgba(123, 123, 123, 0.2) 0px 7px 8px 0px;
    padding-left: 5rem;
    padding-right: 5rem;
    .links_2{
        display: flex;
        justify-content: space-around;
        a{
            
            font-family: $font_poopins500;
            color: rgb(61, 61, 61);
            font-size: .9rem;
        }

        
    }

    #search_bar_2{
        border-radius: 28px;
        border-style: none;
        background-color:$color_searchbar;
        height: 2.6rem;
        display: flex;
        justify-content:space-between;
        
        box-shadow: rgba(198, 198, 198, 0.2) 0px 7px 15px 0px;
        
        input{
            height:1.2rem ;
            width : 17rem;
            font-size: 1rem;
            background: transparent;
            border: 0;
            outline: none;
            padding-left: 2rem;
            padding-top: .7rem;
        }

        img{
            padding-right: 2rem;
            padding-top: .7rem;
            width: 1.2rem;
            height: 1.2rem;
        }
    }

}

#banner_de_inicio{
    display: flex;
    justify-content: center;
    div{
        margin-top: 3rem;
        img{
            width: 30rem;
        }
    }
    #mensaje_banner{
        margin-left: 5rem;
        margin-top: 6rem;
        h1{
            font-family: $font_Roboto;
            font-size: 3.5rem;
            color: white;
        }
        h2{
            font-family: $font_Roboto;
            font-size: 1rem;
            color: white;
        }
        #btn_banner{///
            @include btnPrimario($color_hotpink,10rem,.8rem)
        }
    }
}

#seccion_Explora{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    h1{
        font-family: $font_Urbanist;
        color:#fffefe;
    }

    #tarjetas{
        margin-top: 2rem;
        display: flex;
    
        .tarjeta{
            display: flex;
            flex-direction: column;
            margin: 1rem;
            
            #foto{
                width: 13rem;
                height: 14rem;
                border-top-left-radius: 22px;
                border-top-right-radius: 22px;
                background-color: #FADDDD;
               
                img{
                    display: block;
                    margin: auto;
                    margin-top: 2rem;
                    width: 10rem;
                }
            }

            #descripcion{
                border-bottom-left-radius: 22px;
                border-bottom-right-radius: 22px;
                background-color: white;
                width: 13rem;
                font-family:$font_Roboto;
                h4{
                    text-align: center;
                }
                h5{
                    margin-top: -.1rem;
                    text-align: center;
                }
            }
        }
    } 

}

#empresa_descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    .mensaje{
        margin-top: 5rem;
        h1{
            font-family: $font_Roboto;
            font-weight:bolder;
        }
        h3{
            font-family: $font_Roboto;
            font-size: 1rem;
        }
    }

    .decripcion{
        margin-top: 5rem;
        display: flex;

        .ilustracion{
            margin-left: 4rem;
            img{
                width: 25rem;
            }
        }

        #i2{
            img{
                margin-right: 4rem;
            }
        }
        
    }  
}

footer{

    .links{
        display: flex;
        list-style: none;
    } 

    #footer_link{
        margin-top:5rem;
        display: flex;
        justify-content: center;
        #logo{
            img{
                width: 9rem;
            }
        }
        #link_nav{
            margin-right: 5rem;
            ul{
                @extend .links;//EXTEND
                margin-top: 1rem;
               
                li{
                    h4{
                        font-family: $font_Roboto;
                    }
                    margin-left: 5rem;
                }
            }
        }
    }


   

    #final{
        display: flex;
        justify-content: center;
        h4{
            font-family: $font_Roboto;
        }
        div{
            margin-left: 10rem;
            display: flex;
            img{
                margin-top: .5rem;
                margin-left: 2rem;
                width: 2.5rem;
            }
        }
    }
}


//----------------------------------------------------------------------



@media screen and (max-width: 1150px) { //IPADS
    header{
        justify-content: space-between;
        box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
            
        #logo{
            padding-right: 0rem;  
        }
    
        #link_nav{
            display: none;
        }

        
    
    }

    #link_nav_2{  
        display: flex;
        flex-direction: column;
        
        .links_2{
            display: flex;
            justify-content: space-around;
           
            a{
                
                font-family: $font_poopins500;
                color: rgb(61, 61, 61);
                font-size: .9rem;
            }
    
            
        }
    
        #search_bar_2{
            
            display: none;
           
        }
    
    }

    

    #banner_de_inicio{
        div{
            margin-top: 6rem;
            img{
                width: 25rem;
            }
        }
        #mensaje_banner{
            margin-left: 1rem;
            margin-top: 8rem;

            #btn_banner{
                margin-top: 3rem;
            }
        }
    }

    #seccion_Explora{
       
        #tarjetas{
            flex-wrap: wrap;
            justify-content: center;
    
        } 
    }

    #empresa_descripcion{
        .mensaje{
         
            h1{
              font-size: 2rem;
            }
            h3{

                font-size: 1rem;
            }
        }
    
        .decripcion{
            .ilustracion{
                margin-left: 1rem;
                img{
                    width: 22rem;
                }
            }
    
            #i2{
                img{
                    margin-right: 1rem;
                }
            }
              
        }
          
    }

    footer{
        #footer_link{
            
            
            #link_nav{
                margin-right: 0rem;
                ul{
                    margin-top: 1rem;
                    display: flex;
                    list-style: none;
                    li{
                        h4{
                            font-family: $font_Roboto;
                        }
                        margin-left: 2rem;
                    }
                }
            }
        }
    
    }
    
        
}

@media screen and (max-width: 870px) { //LARGE
  

    #empresa_descripcion{
        margin-top: 4rem;
        .mensaje{
         
            h1{
              font-size: 1.5rem;
            }
            h3{

                font-size: .8rem;
            }
        }
    
        .decripcion{
            margin-top: 1rem;
            .ilustracion{
                margin-left: 0rem;
                img{
                    width: 20rem;
                }
            }
    
            #i2{
                img{
                    margin-right: 0rem;
                }
            }
            
    
        }
    
        
    }

     
}

@media screen and (max-width: 750px) { //LARGE
  

    #banner_de_inicio{
        flex-direction: column-reverse;
        align-items: center;
        div{
            margin-top: 0rem;
            img{
                width: 25rem;
            }
        }
        #mensaje_banner{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 1rem;
            margin-top: 5rem;
            h1{
                font-family: $font_Roboto;
                text-align: center;
                font-size: 3rem;
                color: white;
            }
            #msg{
                display: none;
            }
            #btn_banner{
                
                margin-top: 1rem;
                background-color: $color_hotpink ;
                width: 10rem;
                height: 3rem;
                border-radius: 100rem;
                a{
                    position:absolute;
                    margin-top: .3rem;
                    margin-left:2rem;
                    #bt_h2{
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    #empresa_descripcion{
        h3{
            order:3;
            text-align: center;
            font-family: $font_Roboto;
            font-size: 1rem;
        }

        .mensaje{
            margin-top: 0rem;
            h1{
                text-align: center;
                font-size: 2rem;
            }
            h3{
                text-justify: distribute;
            }
        }
    
        .decripcion{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
    
            .ilustracion{
                margin-left: 0rem;
                img{
                    width: 25rem;
                }
            }
    
            #i2{
                img{
                    margin-right: 4rem;
                }
            }
            
    
        }


        #d2{
            flex-direction: column-reverse;
        }
    
        
    }

    footer{
        #footer_link{
            
            
            #link_nav{
                margin-right: 0rem;
                ul{
                    margin-top: 1.4rem;
                    display: flex;
                    list-style: none;
                    li{
                        h4{
                            font-family: $font_Roboto;
                            font-size: .9rem;
                        }
                        margin-left: 1rem;
                    }
                }
            }
        }
        
    #final{
        display: flex;
        justify-content: center;
        h4{
            font-family: $font_Roboto;
        }
        div{
            margin-left: 5rem;
            display: flex;
            img{
                margin-top: .5rem;
                margin-left: 1rem;
                width: 2.5rem;
            }
        }
    }
    
    }
    
}

@media screen and (max-width: 660px) { //LARGE
header{
    #logo{
        padding-left: 2rem;
    }
    #user_nav{
        padding-right: 2rem;
        #search_bar{
            display: none;
        }
    }
}

#link_nav_2{
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    .links_2{
        display: none;
    }

    #search_bar_2{
        
        display: flex;
        
    }
}


    /*header{
        
    
        #logo{
            margin-top: 2.5rem;
            margin-right:6rem;
            img{
                width: 7rem;
            }
            
            
        }
    
    
        #user_nav{
        
            #search_bar{
            
                width:21rem;
                display: flex;
                justify-content: center;
                margin-right: -.5rem;
                
                input{
                    margin-right: 5rem;
                    width: 10rem;
                }
                
            }
    
            div{
                 
                 #menu{
                   display: block;
                    img{
                         width: 1.9rem;
                         height: 1.6rem;
                         margin-top: 1rem;
                         margin-right: .3rem;

                    }
                }
                
                img{
                    margin-top: .8rem;
                    margin-left: .3rem;
                    width: 2rem;
                    height: 2rem;
                }
            }
            
        }
    }*/

    #banner_de_inicio{
     
        div{
            margin-top: 0rem;
            img{
                width: 15rem;
            }
        }
        #mensaje_banner{
            margin-left: 1rem;
            margin-top: 5rem;
            h1{         
                font-size: 2rem;
            }
         
        }
    }

    #seccion_Explora{
        h1{
            font-size: 1.4rem;
        }
    }

    #empresa_descripcion{
      
        .mensaje{
            margin-top: 0rem;
            h1{
                text-align: center;
                font-size: 1.8rem;
            }
            h3{
                text-justify: distribute;
            }
        }
    
        .decripcion{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
    
            .ilustracion{
                margin-left: 0rem;
                img{
                    width: 25rem;
                }
            }
    
            #i2{
                img{
                    margin-right: 4rem;
                }
            }
            
    
        }


        #d2{
            flex-direction: column-reverse;
        }
    
        
    }

    footer{
        
        #footer_link{

            flex-direction: column;
            align-items: center;
            h4{
                display: none;
            }
                     
        }
        
    #final{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: -2rem;
        h4{
            text-align: center;
            font-family: $font_Roboto;
        }
        div{
            margin-left: 0rem;
            display: flex;
            
            img{
                margin-top: .5rem;
                margin: 1rem;
                width: 2.5rem;
            }
        }
    }
    
    }
}

@media screen and (max-width: 420px) { //LARGE
    /*header{
        #logo{
            margin-top: 1.5rem;
            margin-right:4rem;
            margin-left: -1rem;
            img{
                width: 5.5rem;
            }
            
            
        }
    
    
        #user_nav{
        
            #search_bar{
                
                margin-top: 2rem;
                width:15rem;
                margin-right: -.5rem;
                
                input{
                    margin-right: 0rem;
                    width: 10rem;
                }
                img{
                    margin-left: 1rem;
                    margin-top: 0rem;
                    width: 1rem;
                    height: 1rem;

                }
            }
    
            div{
                 
                 #menu{
                    
                     img{
                          width: 1.1rem;
                          height: 1.1rem;
                          margin-top: -1rem;
                          margin-right: .5rem;
 
                     }
                 }
                
                img{

                    margin-top: -.5rem;
                    margin-left: .2rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            
        }
    }*/

    #banner_de_inicio{
     
        div{
            margin-top: 0rem;
            img{
                width: 15rem;
            }
        }
        #mensaje_banner{
            margin-left: 1rem;
            margin-top: 5rem;
            h1{         
                font-size: 2rem;
            }
         
        }
    }

    #seccion_Explora{
        h1{
            font-size: 1.1rem;
        }
    }

    #empresa_descripcion{
      
        .mensaje{
            margin-top: 0rem;
            h1{
                text-align: center;
                font-size: 1.3rem;
            }
            h3{
                text-justify: distribute;
            }
        }
    
        .decripcion{
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
    
            .ilustracion{
                margin-left: 0rem;
                img{
                    width: 15rem;
                }
            }
    
            #i2{
                img{
                    margin-right: 0rem;
                }
            }
            
    
        }


        #d2{
            flex-direction: column-reverse;
        }
    
        
    }
    
}