@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

$background-gradient:linear-gradient(180deg, rgba(94,56,249,1) 0%, rgba(232,117,251,1) 45%, rgba(231,217,255,1) 100%);
$logo_width: 9rem;
$font_Nivala: 'Poppins', sans-serif;
$font_Roboto: 'Roboto', sans-serif;
$color_hotpink:#F94F46;

body{
    background: $background-gradient;
    background-attachment: fixed; 
}

header{
    display: flex;
    justify-content: center;

    #logo{
        margin-top: 1.5rem;
        margin-right: 10rem;
        img{
            width: $logo_width;
        }
    }

    #link_nav{
        margin-top: 1rem;
        margin-right: 10rem;
       ul{
        display: flex;
        list-style: none;
        li{
            margin-right: 2rem;
            font-family: $font_Nivala;
            color: white;
            font-size: 0.875em;
        }
       }
    }

    #user_nav{
        display: flex;
        justify-content: flex-end;
        margin-top: 2.3rem;
        #search_bar{
            border-radius: 28px;
            border-style: none;
            background-color: #fffefe;
            width: 20rem;
            height: 2.4rem;
            display: flex;
            justify-content: center;
            margin-right: 1rem;
            margin-top: .2rem;
            
            input{
                height:1.2rem ;
                width: 17rem;
                font-size: 16px;
                background: transparent;
                border: 0;
                outline: none;
                padding-top: .6rem;
            }

            img{
                padding-top: .6rem;
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        div{
            #menu{
                display: none;
            }
            img{
                width: 2.7rem;
            }
        }
        
    }
}

#banner_de_inicio{
    display: flex;
    justify-content: center;
    div{
        margin-top: 3rem;
        img{
            width: 30rem;
        }
    }
    #mensaje_banner{
        margin-left: 5rem;
        margin-top: 6rem;
        h1{
            font-family: $font_Roboto;
            font-size: 3.5rem;
            color: white;
        }
        h2{
            font-family: $font_Roboto;
            font-size: 1rem;
            color: white;
        }
        #btn_banner{
            background-color: $color_hotpink ;
            width: 10rem;
            height: 3rem;
            border-radius: 100rem;
            a{
                position:absolute;
                margin-top: .3rem;
                margin-left:2rem;
                #bt_h2{
                    font-size: .8rem;
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) { //LARGE
    header{  
        #logo{
            margin-right: 2rem;
        }
    }
}


@media screen and (max-width: 1220px) { //IPADS
    header{
    
        #logo{
            margin-right:  15rem;
            margin-left: 2rem;
        }
    
        #link_nav{
            margin-right: 0.5rem;
            margin-left: 0rem;
            margin-top: 4rem;
            order: 3;
            position: absolute;
           ul{
            li{
                margin-right: 2rem;
                margin-left: 2rem;
                
            }
           }
        }
    
    }

    #banner_de_inicio{
        div{
            margin-top: 6rem;
            img{
                width: 25rem;
            }
        }
        #mensaje_banner{
            margin-left: 1rem;
            margin-top: 8rem;
            h1{
                font-family: $font_Roboto;
                font-size: 3.5rem;
                color: white;
            }
            h2{
                font-family: $font_Roboto;
                font-size: 1rem;
                color: white;
            }
            #btn_banner{
                margin-top: 3rem;
                background-color: $color_hotpink ;
                width: 10rem;
                height: 3rem;
                border-radius: 100rem;
                a{
                    position:absolute;
                    margin-top: .3rem;
                    margin-left:2rem;
                    #bt_h2{
                        font-size: .8rem;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 870px) { //LARGE
    header{
        
        #logo{
            margin-right:  5rem;
            margin-left: 2rem;
        } 
    }

    #banner_de_inicio{
        div{
            img{
                width: 20rem;
            }
        }
        #mensaje_banner{
            margin-left: 1rem;
            margin-top: 7rem;
            h1{
                font-family: $font_Roboto;
                font-size: 2.8rem;
                color: white;
            }
            h2{
                font-family: $font_Roboto;
                font-size: .8rem;
                color: white;
            }
            #btn_banner{
                margin-top: 2rem;
                background-color: $color_hotpink ;
                width: 10rem;
                height: 3rem;
                border-radius: 100rem;
                a{
                    position:absolute;
                    margin-top: .3rem;
                    margin-left:2rem;
                    #bt_h2{
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 750px) { //LARGE
    header{
    
        #logo{
            margin-top: 2rem;
            margin-right:10rem;
            
        }
    
        #link_nav{
            display: none;
        }
    
        #user_nav{
        
            #search_bar{
                order: 3;
                position:absolute;
                margin-top: 4rem;
                width:28rem;
                display: flex;
                justify-content: center;
                margin-right: -.1rem;
                
                input{
                    margin-right: 11rem;
                    width: 10rem;
                }
                img{
                    margin-left: 3rem;
                    margin-top: 0rem;
                    width: 1.2rem;
                    height: 1.2rem;

                }
            }
    
            div{
                display:flex;
                
                #menu{
                  display: block;
                   img{
                        width: 2.1rem;
                        height: 1.9rem;
                        margin-top: 1rem;
                        margin-right: .3rem;

                   }

               }
               
            
               img{
                   margin-top: .8rem;
                   margin-left: .3rem;
                   width: 2.4rem;
                   height: 2.4rem;
               }
           }
            
        }
    }

    #banner_de_inicio{
        flex-direction: column-reverse;
        align-items: center;
        div{
            margin-top: 0rem;
            img{
                width: 25rem;
            }
        }
        #mensaje_banner{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 1rem;
            margin-top: 5rem;
            h1{
                font-family: $font_Roboto;
                text-align: center;
                font-size: 3rem;
                color: white;
            }
            #msg{
                display: none;
            }
            #btn_banner{
                
                margin-top: 1rem;
                background-color: $color_hotpink ;
                width: 10rem;
                height: 3rem;
                border-radius: 100rem;
                a{
                    position:absolute;
                    margin-top: .3rem;
                    margin-left:2rem;
                    #bt_h2{
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 540px) { //LARGE
    header{
        
    
        #logo{
            margin-top: 2.5rem;
            margin-right:6rem;
            img{
                width: 7rem;
            }
            
            
        }
    
    
        #user_nav{
        
            #search_bar{
            
                width:21rem;
                display: flex;
                justify-content: center;
                margin-right: -.5rem;
                
                input{
                    margin-right: 5rem;
                    width: 10rem;
                }
                
            }
    
            div{
                 
                 #menu{
                   display: block;
                    img{
                         width: 1.9rem;
                         height: 1.6rem;
                         margin-top: 1rem;
                         margin-right: .3rem;

                    }
                }
                
                img{
                    margin-top: .8rem;
                    margin-left: .3rem;
                    width: 2rem;
                    height: 2rem;
                }
            }
            
        }
    }

    #banner_de_inicio{
     
        div{
            margin-top: 0rem;
            img{
                width: 15rem;
            }
        }
        #mensaje_banner{
            margin-left: 1rem;
            margin-top: 5rem;
            h1{         
                font-size: 2rem;
            }
         
        }
    }
}

@media screen and (max-width: 420px) { //LARGE
    header{
        #logo{
            margin-top: 1.5rem;
            margin-right:4rem;
            margin-left: -1rem;
            img{
                width: 5.5rem;
            }
            
            
        }
    
    
        #user_nav{
        
            #search_bar{
                
                margin-top: 2rem;
                width:15rem;
                margin-right: -.5rem;
                
                input{
                    margin-right: 0rem;
                    width: 10rem;
                }
                img{
                    margin-left: 1rem;
                    margin-top: 0rem;
                    width: 1rem;
                    height: 1rem;

                }
            }
    
            div{
                 
                 #menu{
                    
                     img{
                          width: 1.1rem;
                          height: 1.1rem;
                          margin-top: -1rem;
                          margin-right: .5rem;
 
                     }
                 }
                
                img{

                    margin-top: -.5rem;
                    margin-left: .2rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            
        }
    }

    #banner_de_inicio{
     
        div{
            margin-top: 0rem;
            img{
                width: 15rem;
            }
        }
        #mensaje_banner{
            margin-left: 1rem;
            margin-top: 5rem;
            h1{         
                font-size: 2rem;
            }
         
        }
    }
}