@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$background-gradient:linear-gradient(180deg, rgba(94,56,249,1) 0%, rgba(232,117,251,1) 45%, rgba(231,217,255,1) 100%);
$logo_width: 9rem;
$font_Nivala: 'Poppins', sans-serif;

body{
    background: $background-gradient;
    background-attachment: fixed; 
}

header{
    display: flex;
    justify-content: center;

    #logo{
        margin-top: 1.5rem;
        margin-right: 10rem;
        img{
            width: $logo_width;
        }
    }

    #link_nav{
        margin-top: 1rem;
        margin-right: 10rem;
       ul{
        display: flex;
        list-style: none;
        li{
            margin-right: 2rem;
            font-family: $font_Nivala;
            color: white;
            font-size: 0.875em;
        }
       }
    }

    #user_nav{
        display: flex;
        justify-content: flex-end;
        margin-top: 2.3rem;
        #search_bar{
            border-radius: 28px;
            border-style: none;
            background-color: #fbd2cf;
            width: 20rem;
            height: 2.4rem;
            display: flex;
            justify-content: center;
            margin-right: 1rem;
            margin-top: .2rem;
            
            input{
                height:1.2rem ;
                width: 17rem;
                font-size: 16px;
                background: transparent;
                border: 0;
                outline: none;
                padding-top: .6rem;
            }

            img{
                padding-top: .6rem;
                width: 1.2rem;
                height: 1.2rem;
            }
        }

        div{
            #menu{
                display: none;
            }
            img{
                width: 2.7rem;
            }
        }
        
    }
}

@media screen and (max-width: 1500px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-right: 5rem;
        }
    
        #link_nav{
            margin-right: 10rem;

           ul{
            display: flex;
            li{
                margin-right: 2rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
            #search_bar{
                width: 20rem;
                display: flex;
                justify-content: center;
                margin-right: 1rem;
                
                input{
                    width: 17rem;
                }
                img{
                  
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
    
            div{
                img{
                    width: 2.7rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 1300px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-right: 2rem;
        }
    
        #link_nav{
            margin-right: 1rem;
            
           ul{
            display: flex;
            li{
                margin-right: 1rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
            #search_bar{
                width: 15rem;
                display: flex;
                justify-content: center;
                margin-right: 1rem;
                
                input{
                    width: 10rem;
                }
                img{
                  
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
    
            div{
                img{
                    margin-left: .5rem;
                    width: 2.7rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 1000px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-left: 2rem;
        }
    
        #link_nav{
            margin-right: 0.5rem;
            margin-left: -2rem;
           ul{
            display: flex;
            li{
                margin-right: 1rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
            #search_bar{
                width: 15rem;
                display: flex;
                justify-content: center;
                margin-right: 1rem;
                
                input{
                    width: 10rem;
                }
                img{
                  
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
    
            div{
                img{
                    margin-left: .5rem;
                    width: 2.7rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 960px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-right:  15rem;
            margin-left: 2rem;
        }
    
        #link_nav{
            margin-right: 0.5rem;
            margin-left: 0rem;
            margin-top: 4rem;
            order: 3;
            position: absolute;

           ul{
            display: flex;
            li{
                margin-right: 2rem;
                margin-left: 2rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
            #search_bar{
                width: 18rem;
                display: flex;
                justify-content: center;
                margin-right: 1rem;
                
                input{
                    margin-right: 1rem;
                    margin-right: 3rem;
                    width: 10rem;
                }
                img{
                  
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
    
            div{
                img{
                    margin-left: .5rem;
                    width: 2.7rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 850px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-right:  5rem;
            margin-left: 2rem;
        }
    
        #link_nav{
            margin-right: 0.5rem;
            margin-left: 0rem;
            margin-top: 4rem;
            order: 3;
            position: absolute;

           ul{
            display: flex;
            li{
                margin-right: 2rem;
                margin-left: 2rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
            #search_bar{
                width: 15rem;
                display: flex;
                justify-content: center;
                margin-right: 1rem;
                
                input{
                    margin-right: 1rem;
                    width: 10rem;
                }
                img{
                  
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
    
            div{
                img{
                    margin-left: .5rem;
                    width: 2.7rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 670px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-top: 2rem;
            margin-right:10rem;
            
        }
    
        #link_nav{
            display: none;
            margin-right: 0.5rem;
            margin-left: 0rem;
            margin-top: 4rem;
            order: 3;
            position: absolute;

           ul{
            display: flex;
            li{
                margin-right: 2rem;
                margin-left: 2rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
        
            #search_bar{
                order: 3;
                position:absolute;
                margin-top: 4rem;
                width:28rem;
                display: flex;
                justify-content: center;
                margin-right: -.1rem;
                
                input{
                    margin-right: 11rem;
                    width: 10rem;
                }
                img{
                    margin-left: 3rem;
                    margin-top: 0rem;
                    width: 1.2rem;
                    height: 1.2rem;

                }
            }
    
            div{
                 display:flex;
                 
                 #menu{
                   display: block;
                    img{
                         width: 2.1rem;
                         height: 1.9rem;
                         margin-top: 1rem;
                         margin-right: .3rem;

                    }
                   

                }
                
             
                img{
                    margin-top: .8rem;
                    margin-left: .3rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 540px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-top: 2.5rem;
            margin-right:6rem;
            img{
                width: 7rem;
            }
            
            
        }
    
        #link_nav{
            display: none;
            margin-right: 0.5rem;
            margin-left: 0rem;
            margin-top: 4rem;
            order: 3;
            position: absolute;

           ul{
            display: flex;
            li{
                margin-right: 2rem;
                margin-left: 2rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
        
            #search_bar{
                
                position:absolute;
                margin-top: 4rem;
                width:21rem;
                display: flex;
                justify-content: center;
                margin-right: -.5rem;
                
                input{
                    margin-right: 6rem;
                    width: 10rem;
                }
                img{
                    margin-left: 3rem;
                    margin-top: 0rem;
                    width: 1.2rem;
                    height: 1.2rem;

                }
            }
    
            div{
                 display:flex;
                 
                 #menu{
                   display: block;
                    img{
                         width: 1.9rem;
                         height: 1.6rem;
                         margin-top: 1rem;
                         margin-right: .3rem;

                    }
                }
                
             
                img{
                    margin-top: .8rem;
                    margin-left: .3rem;
                    width: 2rem;
                    height: 2rem;
                }
            }
            
        }
    }
}

@media screen and (max-width: 420px) { //LARGE
    header{
        display: flex;
        justify-content: center;
    
        #logo{
            margin-top: 1.0rem;
            margin-right:4rem;
            margin-left: -1rem;
            img{
                width: 5.5rem;
            }
            
            
        }
    
        #link_nav{
            display: none;
            margin-right: 0.5rem;
            margin-left: 0rem;
            margin-top: 4rem;
            order: 3;
            position: absolute;

           ul{
            display: flex;
            li{
                margin-right: 2rem;
                margin-left: 2rem;
                font-size: 0.875em;
            }
           }
        }
    
        #user_nav{
        
            #search_bar{
                
                position:absolute;
                margin-top: 2rem;
                width:15rem;
                display: flex;
                justify-content: center;
                margin-right: -.5rem;
                
                input{
                    margin-right: 0rem;
                    width: 10rem;
                }
                img{
                    margin-left: 1rem;
                    margin-top: 0rem;
                    width: 1rem;
                    height: 1rem;

                }
            }
    
            div{
                 display:flex;
                 
                 #menu{
                    display: block;
                     img{
                          width: 1.1rem;
                          height: 1.1rem;
                          margin-top: -1rem;
                          margin-right: .5rem;
 
                     }
                 }
                
             
                img{

                    margin-top: -.6rem;
                    margin-left: .2rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
            }
            
        }
    }
}