@mixin btnPrimario($colorfondo,$color_texto,$ancho,$fontSize){
    background-color: $colorfondo ;
    width: $ancho;
    height: 3rem;
    border-radius: 100rem;
            a{
                position:absolute;
                margin-left:2rem;
                #bt_h2{
                    font-size: $fontSize;
                    color:$color_texto;
                }
            }
}