@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
.effect-one > a {
  position: relative;
  color: #F94F46;
}
.effect-one > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: #F94F46;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.effect-one > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 6rem;
}
header #logo {
  padding-left: 5rem;
  padding-right: 4rem;
}
header #logo img {
  height: 5.313rem;
  width: 8.25rem;
}
header #link_nav .links, header footer #footer_link #link_nav ul, footer #footer_link header #link_nav ul {
  display: flex;
}
header #link_nav .links a, header footer #footer_link #link_nav ul a, footer #footer_link header #link_nav ul a {
  margin-right: 2rem;
  font-family: "Poppins", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
}
header #user_nav {
  display: flex;
  padding-left: 2rem;
  padding-right: 5rem;
}
header #user_nav #search_bar {
  border-radius: 28px;
  border-style: none;
  background-color: #f7ebeb;
  width: 15rem;
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}
header #user_nav #search_bar input {
  height: 1.2rem;
  width: 10rem;
  font-size: 1rem;
  background: transparent;
  border: 0;
  outline: none;
  margin-left: 1rem;
  padding-top: 0.7rem;
}
header #user_nav #search_bar img {
  margin-right: 1rem;
  padding-top: 0.7rem;
  width: 1rem;
  height: 1rem;
}
header #user_nav div {
  display: flex;
}
header #user_nav div .menu-btn {
  display: none;
}
header #user_nav div img {
  margin-left: 0.6rem;
  height: 2.4rem;
  width: 2.4rem;
}

#link_nav_2 {
  display: none;
  flex-direction: column;
  height: 2rem;
  box-shadow: rgba(123, 123, 123, 0.2) 0px 7px 8px 0px;
  padding-left: 5rem;
  padding-right: 5rem;
}
#link_nav_2 .links_2 {
  display: flex;
  justify-content: space-around;
}
#link_nav_2 .links_2 a {
  font-family: "Poppins", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
}
#link_nav_2 #search_bar_2 {
  border-radius: 28px;
  border-style: none;
  background-color: #f7ebeb;
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(198, 198, 198, 0.2) 0px 7px 15px 0px;
}
#link_nav_2 #search_bar_2 input {
  height: 1.2rem;
  width: 17rem;
  font-size: 1rem;
  background: transparent;
  border: 0;
  outline: none;
  padding-left: 2rem;
  padding-top: 0.7rem;
}
#link_nav_2 #search_bar_2 img {
  padding-right: 2rem;
  padding-top: 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
}

@media screen and (max-width: 1150px) {
  header {
    justify-content: space-between;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
  }
  header #logo {
    padding-right: 0rem;
  }
  header #link_nav {
    display: none;
  }
  #link_nav_2 {
    display: flex;
    flex-direction: column;
  }
  #link_nav_2 #links_2 {
    display: flex;
    justify-content: space-around;
  }
  #link_nav_2 #links_2 a {
    font-family: "Poppins", sans-serif;
    color: rgb(61, 61, 61);
    font-size: 0.9rem;
  }
  #link_nav_2 #search_bar_2 {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  header #logo {
    padding-left: 2rem;
  }
  header #user_nav {
    padding-right: 2rem;
  }
  header #user_nav #search_bar {
    display: none;
  }
  header #user_nav div #menu-btn {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 0.7rem;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    /*ANIMACION*/
  }
  header #user_nav div #menu-btn #menu-btn_burger {
    height: 0.2rem;
    width: 1.7rem;
    background: #F94F46;
    border-radius: 0.2rem;
    transition: all 0.5s ease-in-out;
  }
  header #user_nav div #menu-btn #menu-btn_burger::before, header #user_nav div #menu-btn #menu-btn_burger::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 1.7rem;
    background: #F94F46;
    border-radius: 0.2rem;
    transition: all 0.5s ease-in-out;
  }
  header #user_nav div #menu-btn #menu-btn_burger::before {
    transform: translateY(-0.7rem);
  }
  header #user_nav div #menu-btn #menu-btn_burger::after {
    transform: translateY(0.7rem);
  }
  header #user_nav div #menu-btn.open #menu-btn_burger {
    background: transparent;
  }
  header #user_nav div #menu-btn.open #menu-btn_burger::before {
    transform: rotate(-45deg);
  }
  header #user_nav div #menu-btn.open #menu-btn_burger::after {
    transform: rotate(45deg);
  }
  #link_nav_2 {
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #link_nav_2 #links_2 {
    display: none;
    position: absolute;
    width: 100%;
    left: 0rem;
    top: 10rem;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: #f7ebeb;
  }
  #link_nav_2 #links_2 a {
    display: inline-block;
    margin: 2rem;
  }
  #link_nav_2 #search_bar_2 {
    margin-bottom: 1.1rem;
    padding-bottom: 1rem;
    display: flex;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#banner_de_inicio {
  width: 100%;
  height: 30rem;
  background-image: url("./imagenes/banner2.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
}
#banner_de_inicio #mensaje_banner {
  padding-left: 13rem;
}
#banner_de_inicio #mensaje_banner h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  color: white;
}
#banner_de_inicio #mensaje_banner h1 b {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4C0202;
  letter-spacing: 0.2rem;
}
#banner_de_inicio #mensaje_banner h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #4C0202;
}
#banner_de_inicio #mensaje_banner #btn_banner {
  background-color: #F94F46;
  width: 11rem;
  height: 3rem;
  border-radius: 100rem;
}
#banner_de_inicio #mensaje_banner #btn_banner a {
  position: absolute;
  margin-left: 2rem;
}
#banner_de_inicio #mensaje_banner #btn_banner a #bt_h2 {
  font-size: 0.9rem;
  color: white;
}

#seccion_Explora {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
#seccion_Explora h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #4C0202;
}
#seccion_Explora #tarjetas {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
#seccion_Explora #tarjetas #sublimacion {
  background-image: url("./imagenes/sublimacion.png");
}
#seccion_Explora #tarjetas #diseñoGrafico {
  background-image: url("./imagenes/graphicdesing.png");
}
#seccion_Explora #tarjetas #cortadoralaser {
  background-image: url("./imagenes/lasercut.png");
}
#seccion_Explora #tarjetas #impresion3D {
  background-image: url("./imagenes/Impresion3D.png");
}
#seccion_Explora #tarjetas .tarjeta {
  margin: 2rem;
  padding: 1rem;
  background-position: top;
  background-size: cover;
  border-radius: 2rem;
  width: 15rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#seccion_Explora #tarjetas .tarjeta #descripcion {
  display: none;
  padding: 1rem;
}
#seccion_Explora #tarjetas .tarjeta #descripcion h2 {
  color: white;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}
#seccion_Explora #tarjetas .tarjeta:hover {
  background-color: rgba(194, 130, 130, 0.863);
}
#seccion_Explora #tarjetas .tarjeta:hover #descripcion {
  display: flex;
}

#empresa_descripcion {
  align-items: center;
}
#empresa_descripcion .mensaje {
  margin-top: 8rem;
}
#empresa_descripcion .mensaje h1 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  color: #4C0202;
  font-weight: bolder;
}
#empresa_descripcion .mensaje h3 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
#empresa_descripcion .decripcion {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}
#empresa_descripcion .decripcion .ilustracion img {
  width: 30rem;
}

#banner_final {
  margin-top: 5rem;
  width: 100%;
  height: 20rem;
  background-image: url("./imagenes/banner_bottom.png");
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner_final #mensaje_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#banner_final #mensaje_banner h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  padding-bottom: 2rem;
  color: rgb(13, 13, 13);
}
#banner_final #mensaje_banner h1 b {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4C0202;
  letter-spacing: 0.2rem;
}
#banner_final #mensaje_banner h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #4C0202;
}
#banner_final #mensaje_banner #btn_banner {
  background-color: #F94F46;
  width: 11rem;
  height: 3rem;
  border-radius: 100rem;
}
#banner_final #mensaje_banner #btn_banner a {
  position: absolute;
  margin-left: 2rem;
}
#banner_final #mensaje_banner #btn_banner a #bt_h2 {
  font-size: 1rem;
  color: white;
}

footer .links, footer #footer_link #link_nav ul {
  display: flex;
  list-style: none;
}
footer #footer_link {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
footer #footer_link #logo img {
  width: 9rem;
}
footer #footer_link #link_nav {
  margin-right: 5rem;
}
footer #footer_link #link_nav ul {
  margin-top: 1rem;
}
footer #footer_link #link_nav ul li {
  margin-left: 5rem;
}
footer #footer_link #link_nav ul li h4 {
  font-family: "Roboto", sans-serif;
}
footer #final {
  display: flex;
  justify-content: center;
}
footer #final h4 {
  font-family: "Roboto", sans-serif;
}
footer #final div {
  margin-left: 10rem;
  display: flex;
}
footer #final div img {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 2.5rem;
}

@media screen and (max-width: 1150px) {
  #seccion_Explora #tarjetas {
    flex-wrap: wrap;
    justify-content: center;
  }
  #empresa_descripcion .mensaje h1 {
    font-size: 2rem;
  }
  #empresa_descripcion .mensaje h3 {
    font-size: 1rem;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 1rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 22rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 1rem;
  }
  footer #footer_link #link_nav {
    margin-right: 0rem;
  }
  footer #footer_link #link_nav ul {
    margin-top: 1rem;
    display: flex;
    list-style: none;
  }
  footer #footer_link #link_nav ul li {
    margin-left: 2rem;
  }
  footer #footer_link #link_nav ul li h4 {
    font-family: "Roboto", sans-serif;
  }
}
@media screen and (max-width: 870px) {
  #empresa_descripcion {
    margin-top: 4rem;
  }
  #empresa_descripcion .mensaje h1 {
    font-size: 1.5rem;
  }
  #empresa_descripcion .mensaje h3 {
    font-size: 0.8rem;
  }
  #empresa_descripcion .decripcion {
    margin-top: 1rem;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 0rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 20rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 0rem;
  }
}
@media screen and (max-width: 750px) {
  #banner_de_inicio {
    flex-direction: column-reverse;
    align-items: center;
  }
  #banner_de_inicio #mensaje_banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
  }
  #banner_de_inicio #mensaje_banner h1 {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 3rem;
    color: white;
  }
  #banner_de_inicio #mensaje_banner #msg {
    display: none;
  }
  #banner_de_inicio #mensaje_banner #btn_banner {
    margin-top: 1rem;
    background-color: #F94F46;
    width: 10rem;
    height: 3rem;
    border-radius: 100rem;
  }
  #banner_de_inicio #mensaje_banner #btn_banner a {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: 2rem;
  }
  #banner_de_inicio #mensaje_banner #btn_banner a #bt_h2 {
    font-size: 0.8rem;
  }
  #empresa_descripcion h3 {
    order: 3;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  #empresa_descripcion .mensaje {
    margin-top: 0rem;
  }
  #empresa_descripcion .mensaje h1 {
    text-align: center;
    font-size: 2rem;
  }
  #empresa_descripcion .mensaje h3 {
    text-justify: distribute;
  }
  #empresa_descripcion .decripcion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 0rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 25rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 4rem;
  }
  #empresa_descripcion #d2 {
    flex-direction: column-reverse;
  }
  footer #footer_link #link_nav {
    margin-right: 0rem;
  }
  footer #footer_link #link_nav ul {
    margin-top: 1.4rem;
    display: flex;
    list-style: none;
  }
  footer #footer_link #link_nav ul li {
    margin-left: 1rem;
  }
  footer #footer_link #link_nav ul li h4 {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
  }
  footer #final {
    display: flex;
    justify-content: center;
  }
  footer #final h4 {
    font-family: "Roboto", sans-serif;
  }
  footer #final div {
    margin-left: 5rem;
    display: flex;
  }
  footer #final div img {
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 2.5rem;
  }
}
@media screen and (max-width: 660px) {
  #banner_de_inicio #mensaje_banner {
    margin-left: 1rem;
  }
  #banner_de_inicio #mensaje_banner h1 {
    font-size: 2rem;
  }
  #empresa_descripcion .mensaje {
    margin-top: 0rem;
  }
  #empresa_descripcion .mensaje h1 {
    text-align: center;
    font-size: 1.8rem;
  }
  #empresa_descripcion .mensaje h3 {
    text-justify: distribute;
  }
  #empresa_descripcion .decripcion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 0rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 25rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 4rem;
  }
  #empresa_descripcion #d2 {
    flex-direction: column-reverse;
  }
  footer #footer_link {
    flex-direction: column;
    align-items: center;
  }
  footer #footer_link h4 {
    display: none;
  }
  footer #final {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -2rem;
  }
  footer #final h4 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  footer #final div {
    margin-left: 0rem;
    display: flex;
  }
  footer #final div img {
    margin-top: 0.5rem;
    margin: 1rem;
    width: 2.5rem;
  }
}
@media screen and (max-width: 420px) {
  #banner_de_inicio div {
    margin-top: 0rem;
  }
  #banner_de_inicio div img {
    width: 15rem;
  }
  #banner_de_inicio #mensaje_banner {
    margin-left: 1rem;
    margin-top: 5rem;
  }
  #banner_de_inicio #mensaje_banner h1 {
    font-size: 2rem;
  }
  #seccion_Explora h1 {
    font-size: 1.1rem;
  }
  #empresa_descripcion .mensaje {
    margin-top: 0rem;
  }
  #empresa_descripcion .mensaje h1 {
    text-align: center;
    font-size: 1.3rem;
  }
  #empresa_descripcion .mensaje h3 {
    text-justify: distribute;
  }
  #empresa_descripcion .decripcion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 0rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 15rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 0rem;
  }
  #empresa_descripcion #d2 {
    flex-direction: column-reverse;
  }
}
#banner_productos {
  width: 100%;
  height: 18rem;
  background-image: url("./imagenes/banner_productos.png");
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner_productos #mensaje_banner h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  color: rgb(13, 13, 13);
}
#banner_productos #mensaje_banner h1 b {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4C0202;
  letter-spacing: 0.2rem;
}

#sec_productos {
  display: flex;
  flex-direction: column;
}
#sec_productos .categorias {
  padding: 2rem;
}
#sec_productos .categorias .categorias_titulo h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}
#sec_productos .product_tarjetas {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}
#sec_productos .product_tarjetas .tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  background-color: #f7ebeb;
  height: 25rem;
  width: 15rem;
}
#sec_productos .product_tarjetas .tarjeta #producto-img {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 12rem;
  height: 18rem;
}
#sec_productos .product_tarjetas .tarjeta #producto-img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h2, #sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h3 {
  font-family: "Oswald", sans-serif;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h2 {
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h3 {
  font-size: 1rem;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta div img {
  width: 3rem;
}

/*# sourceMappingURL=styles.css.map */
