@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz@8..144&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.effect-one > a {
  position: relative;
  color: #F94F46;
}
.effect-one > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  margin: -5px 0;
  background-color: #F94F46;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out 0s;
}
.effect-one > a:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

header {
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 6rem;
}
header #logo {
  padding-left: 5rem;
  padding-right: 4rem;
}
header #logo img {
  height: 5.313rem;
  width: 8.25rem;
}
header #link_nav .links, header footer #footer_link #link_nav ul, footer #footer_link header #link_nav ul {
  display: flex;
}
header #link_nav .links a, header footer #footer_link #link_nav ul a, footer #footer_link header #link_nav ul a {
  margin-right: 2rem;
  font-family: "Poppins", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
}
header #user_nav {
  display: flex;
  padding-left: 2rem;
  padding-right: 5rem;
}
header #user_nav #search_bar {
  border-radius: 28px;
  border-style: none;
  background-color: #f7ebeb;
  width: 15rem;
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px 0px;
}
header #user_nav #search_bar input {
  height: 1.2rem;
  width: 10rem;
  font-size: 1rem;
  background: transparent;
  border: 0;
  outline: none;
  margin-left: 1rem;
  padding-top: 0.7rem;
}
header #user_nav #search_bar img {
  margin-right: 1rem;
  padding-top: 0.7rem;
  width: 1rem;
  height: 1rem;
}
header #user_nav div {
  display: flex;
}
header #user_nav div .menu-btn {
  display: none;
}
header #user_nav div img {
  margin-left: 0.6rem;
  height: 2.4rem;
  width: 2.4rem;
}

#link_nav_2 {
  display: none;
  flex-direction: column;
  height: 2rem;
  box-shadow: rgba(123, 123, 123, 0.2) 0px 7px 8px 0px;
  padding-left: 5rem;
  padding-right: 5rem;
}
#link_nav_2 .links_2 {
  display: flex;
  justify-content: space-around;
}
#link_nav_2 .links_2 a {
  font-family: "Poppins", sans-serif;
  color: rgb(61, 61, 61);
  font-size: 0.9rem;
}
#link_nav_2 #search_bar_2 {
  border-radius: 28px;
  border-style: none;
  background-color: #f7ebeb;
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(198, 198, 198, 0.2) 0px 7px 15px 0px;
}
#link_nav_2 #search_bar_2 input {
  height: 1.2rem;
  width: 17rem;
  font-size: 1rem;
  background: transparent;
  border: 0;
  outline: none;
  padding-left: 2rem;
  padding-top: 0.7rem;
}
#link_nav_2 #search_bar_2 img {
  padding-right: 2rem;
  padding-top: 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
}

@media screen and (max-width: 1150px) {
  header {
    justify-content: space-between;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
  }
  header #logo {
    padding-right: 0rem;
  }
  header #link_nav {
    display: none;
  }
  #link_nav_2 {
    display: flex;
    flex-direction: column;
  }
  #link_nav_2 #links_2 {
    display: flex;
    justify-content: space-around;
  }
  #link_nav_2 #links_2 a {
    font-family: "Poppins", sans-serif;
    color: rgb(61, 61, 61);
    font-size: 0.9rem;
  }
  #link_nav_2 #search_bar_2 {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  header #logo {
    padding-left: 2rem;
  }
  header #user_nav {
    padding-right: 2rem;
  }
  header #user_nav #search_bar {
    display: none;
  }
  header #user_nav div #menu-btn {
    display: flex;
    margin-top: 0.3rem;
    margin-left: 0.7rem;
    width: 2rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    /*ANIMACION*/
  }
  header #user_nav div #menu-btn #menu-btn_burger {
    height: 0.2rem;
    width: 1.7rem;
    background: #F94F46;
    border-radius: 0.2rem;
    transition: all 0.5s ease-in-out;
  }
  header #user_nav div #menu-btn #menu-btn_burger::before, header #user_nav div #menu-btn #menu-btn_burger::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    width: 1.7rem;
    background: #F94F46;
    border-radius: 0.2rem;
    transition: all 0.5s ease-in-out;
  }
  header #user_nav div #menu-btn #menu-btn_burger::before {
    transform: translateY(-0.7rem);
  }
  header #user_nav div #menu-btn #menu-btn_burger::after {
    transform: translateY(0.7rem);
  }
  header #user_nav div #menu-btn.open #menu-btn_burger {
    background: transparent;
  }
  header #user_nav div #menu-btn.open #menu-btn_burger::before {
    transform: rotate(-45deg);
  }
  header #user_nav div #menu-btn.open #menu-btn_burger::after {
    transform: rotate(45deg);
  }
  #link_nav_2 {
    height: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  #link_nav_2 #links_2 {
    display: none;
    position: absolute;
    width: 100%;
    left: 0rem;
    top: 10rem;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: #f7ebeb;
  }
  #link_nav_2 #links_2 a {
    display: inline-block;
    margin: 2rem;
  }
  #link_nav_2 #search_bar_2 {
    margin-bottom: 1.1rem;
    padding-bottom: 1rem;
    display: flex;
  }
}
footer .links, footer #footer_link #link_nav ul {
  display: flex;
  list-style: none;
}
footer #footer_link {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
footer #footer_link #logo img {
  width: 9rem;
}
footer #footer_link #link_nav {
  margin-right: 5rem;
}
footer #footer_link #link_nav ul {
  margin-top: 1rem;
}
footer #footer_link #link_nav ul li {
  margin-left: 5rem;
}
footer #footer_link #link_nav ul li h4 {
  font-family: "Roboto", sans-serif;
}
footer #final {
  display: flex;
  justify-content: center;
}
footer #final h4 {
  font-family: "Roboto", sans-serif;
}
footer #final div {
  margin-left: 10rem;
  display: flex;
}
footer #final div img {
  margin-top: 0.5rem;
  margin-left: 2rem;
  width: 2.5rem;
}

@media screen and (max-width: 1150px) {
  footer #footer_link #link_nav {
    margin-right: 0rem;
  }
  footer #footer_link #link_nav ul {
    margin-top: 1rem;
    display: flex;
    list-style: none;
  }
  footer #footer_link #link_nav ul li {
    margin-left: 2rem;
  }
  footer #footer_link #link_nav ul li h4 {
    font-family: "Roboto", sans-serif;
  }
}
@media screen and (max-width: 870px) {
  footer #footer_link #link_nav {
    margin-right: 0rem;
  }
  footer #footer_link #link_nav ul {
    margin-top: 1.4rem;
    display: flex;
    list-style: none;
  }
  footer #footer_link #link_nav ul li {
    margin-left: 1rem;
  }
  footer #footer_link #link_nav ul li h4 {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
  }
  footer #final {
    display: flex;
    justify-content: center;
  }
  footer #final h4 {
    font-family: "Roboto", sans-serif;
  }
  footer #final div {
    margin-left: 5rem;
    display: flex;
  }
  footer #final div img {
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 2.5rem;
  }
}
@media screen and (max-width: 750px) {
  footer #footer_link #link_nav {
    margin-right: 0rem;
  }
  footer #footer_link #link_nav ul {
    margin-top: 1.4rem;
    display: flex;
    list-style: none;
  }
  footer #footer_link #link_nav ul li {
    margin-left: 1rem;
  }
  footer #footer_link #link_nav ul li h4 {
    font-family: "Roboto", sans-serif;
    font-size: 0.9rem;
  }
  footer #final {
    display: flex;
    justify-content: center;
  }
  footer #final h4 {
    font-family: "Roboto", sans-serif;
  }
  footer #final div {
    margin-left: 5rem;
    display: flex;
  }
  footer #final div img {
    margin-top: 0.5rem;
    margin-left: 1rem;
    width: 2.5rem;
  }
}
@media screen and (max-width: 660px) {
  footer #footer_link {
    flex-direction: column;
    align-items: center;
  }
  footer #footer_link h4 {
    display: none;
  }
  footer #final {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: -2rem;
  }
  footer #final h4 {
    text-align: center;
    font-family: "Roboto", sans-serif;
  }
  footer #final div {
    margin-left: 0rem;
    display: flex;
  }
  footer #final div img {
    margin-top: 0.5rem;
    margin: 1rem;
    width: 2.5rem;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#banner_de_inicio, #banner_final {
  width: 100%;
  height: 30rem;
  background-image: url("./imagenes/banner2.jpg");
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
}
#banner_de_inicio #mensaje_banner, #banner_final #mensaje_banner {
  padding-left: 13rem;
}
#banner_de_inicio #mensaje_banner h1, #banner_final #mensaje_banner h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  color: white;
}
#banner_de_inicio #mensaje_banner h1 b, #banner_final #mensaje_banner h1 b {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4C0202;
  letter-spacing: 0.2rem;
}
#banner_de_inicio #mensaje_banner h2, #banner_final #mensaje_banner h2 {
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #4C0202;
}
#banner_de_inicio #mensaje_banner #btn_banner, #banner_final #mensaje_banner #btn_banner {
  background-color: #F94F46;
  width: 11rem;
  height: 3rem;
  border-radius: 100rem;
}
#banner_de_inicio #mensaje_banner #btn_banner a, #banner_final #mensaje_banner #btn_banner a {
  position: absolute;
  margin-left: 2rem;
}
#banner_de_inicio #mensaje_banner #btn_banner a #bt_h2, #banner_final #mensaje_banner #btn_banner a #bt_h2 {
  font-size: 0.9rem;
  color: white;
}
#banner_de_inicio #mensaje_banner #btn_banner:hover, #banner_final #mensaje_banner #btn_banner:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#seccion_Explora {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
#seccion_Explora h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #4C0202;
}
#seccion_Explora #tarjetas {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}
#seccion_Explora #tarjetas #sublimacion {
  background-image: url("./imagenes/sublimacion.png");
}
#seccion_Explora #tarjetas #diseñoGrafico {
  background-image: url("./imagenes/graphicdesing.png");
}
#seccion_Explora #tarjetas #cortadoralaser {
  background-image: url("./imagenes/lasercut.png");
}
#seccion_Explora #tarjetas #impresion3D {
  background-image: url("./imagenes/Impresion3D.png");
}
#seccion_Explora #tarjetas .tarjeta {
  margin: 1rem;
  padding: 1rem;
  background-position: top;
  background-size: cover;
  border-radius: 2rem;
  width: 15rem;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
#seccion_Explora #tarjetas .tarjeta #descripcion {
  display: none;
  padding: 1rem;
}
#seccion_Explora #tarjetas .tarjeta #descripcion h2 {
  color: white;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}
#seccion_Explora #tarjetas .tarjeta:hover {
  background-color: rgba(194, 130, 130, 0.863);
}
#seccion_Explora #tarjetas .tarjeta:hover #descripcion {
  display: flex;
}

#empresa_descripcion {
  align-items: center;
}
#empresa_descripcion .mensaje {
  margin-top: 8rem;
}
#empresa_descripcion .mensaje h2 {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  color: #4C0202;
  font-weight: bolder;
}
#empresa_descripcion .mensaje h3 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
#empresa_descripcion .decripcion {
  margin-top: 5rem;
  display: flex;
  justify-content: space-evenly;
}
#empresa_descripcion .decripcion .ilustracion img {
  width: 30rem;
}

#banner_final {
  align-items: center;
  justify-content: center;
  background-image: url("./imagenes/banner_bottom.png");
}
#banner_final #mensaje_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 0rem;
}
#banner_final #mensaje_banner h2 {
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  padding-bottom: 2rem;
  color: rgb(13, 13, 13);
}
#banner_final #mensaje_banner h2 b {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4C0202;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 1150px) {
  #banner_de_inicio #mensaje_banner, #banner_final #mensaje_banner {
    padding-left: 5rem;
  }
  #seccion_Explora #tarjetas {
    flex-wrap: wrap;
    justify-content: center;
  }
  #empresa_descripcion .mensaje h2 {
    font-size: 2rem;
  }
  #empresa_descripcion .mensaje h3 {
    font-size: 1rem;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 1rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 22rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 1rem;
  }
}
@media screen and (max-width: 830px) {
  #banner_de_inicio #mensaje_banner, #banner_final #mensaje_banner {
    padding-left: 1.4rem;
  }
  #banner_de_inicio #mensaje_banner h1, #banner_final #mensaje_banner h1 {
    font-size: 2rem;
  }
  #banner_de_inicio #mensaje_banner h1 b, #banner_final #mensaje_banner h1 b {
    font-size: 3.5rem;
  }
  #banner_de_inicio #mensaje_banner h2, #banner_final #mensaje_banner h2 {
    font-size: 1rem;
  }
  #empresa_descripcion h3 {
    order: 3;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
  }
  #empresa_descripcion .mensaje {
    margin-top: 0rem;
  }
  #empresa_descripcion .mensaje h2 {
    text-align: center;
    font-size: 2rem;
  }
  #empresa_descripcion .mensaje h3 {
    text-justify: distribute;
  }
  #empresa_descripcion .decripcion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 0rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 25rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 1rem;
  }
  #empresa_descripcion #d2 {
    flex-direction: column-reverse;
  }
  #banner_final #mensaje_banner h2 {
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
  }
}
@media screen and (max-width: 660px) {
  #banner_de_inicio #mensaje_banner, #banner_final #mensaje_banner {
    margin-left: 1rem;
  }
  #banner_de_inicio #mensaje_banner h1, #banner_final #mensaje_banner h1 {
    font-size: 2rem;
  }
  #empresa_descripcion .mensaje {
    margin-top: 0rem;
  }
  #empresa_descripcion .mensaje h2 {
    text-align: center;
    font-size: 1.8rem;
  }
  #empresa_descripcion .mensaje h3 {
    text-justify: distribute;
  }
  #empresa_descripcion .decripcion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 0rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 25rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 4rem;
  }
  #empresa_descripcion #d2 {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 450px) {
  #banner_de_inicio #mensaje_banner, #banner_final #mensaje_banner {
    padding-left: 0rem;
  }
  #banner_de_inicio #mensaje_banner h1, #banner_final #mensaje_banner h1 {
    font-size: 2rem;
  }
  #banner_de_inicio #mensaje_banner h1 b, #banner_final #mensaje_banner h1 b {
    font-size: 2.6rem;
  }
  #banner_de_inicio #mensaje_banner h2, #banner_final #mensaje_banner h2 {
    font-size: 0.8rem;
  }
  #seccion_Explora h2 {
    font-size: 1.1rem;
  }
  #empresa_descripcion .mensaje {
    margin-top: 0rem;
  }
  #empresa_descripcion .mensaje h2 {
    text-align: center;
    font-size: 1.3rem;
  }
  #empresa_descripcion .mensaje h3 {
    text-justify: distribute;
  }
  #empresa_descripcion .decripcion {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  #empresa_descripcion .decripcion .ilustracion {
    margin-left: 0rem;
  }
  #empresa_descripcion .decripcion .ilustracion img {
    width: 15rem;
  }
  #empresa_descripcion .decripcion #i2 img {
    margin-right: 0rem;
  }
  #empresa_descripcion #d2 {
    flex-direction: column-reverse;
  }
  #banner_final #mensaje_banner h2 {
    font-family: "Oswald", sans-serif;
    font-size: 1.5rem;
  }
}
#banner_productos {
  width: 100%;
  height: 18rem;
  background-image: url("./imagenes/banner_productos.png");
  background-position: top;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
#banner_productos #mensaje_banner h1 {
  font-family: "Oswald", sans-serif;
  font-size: 3.8rem;
  color: rgb(13, 13, 13);
}
#banner_productos #mensaje_banner h1 b {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4C0202;
  letter-spacing: 0.2rem;
}

#sec_productos {
  display: flex;
  flex-direction: column;
}
#sec_productos .categorias {
  padding: 2rem;
}
#sec_productos .categorias .categorias_titulo h2 {
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.2rem;
}
#sec_productos .product_tarjetas {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
}
#sec_productos .product_tarjetas .tarjeta {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.5rem;
  background-color: #f7ebeb;
  transition: box-shadow 0.3s;
  height: 25rem;
  width: 15rem;
}
#sec_productos .product_tarjetas .tarjeta #producto-img {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  width: 12rem;
  height: 18rem;
}
#sec_productos .product_tarjetas .tarjeta #producto-img img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h2,
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h3 {
  font-family: "Oswald", sans-serif;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h2 {
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta h3 {
  font-size: 1rem;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta div a {
  background-color: #fdcf7e;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta div a img {
  padding-top: 0rem;
  width: 3rem;
}
#sec_productos .product_tarjetas .tarjeta .descripcion_producto_tarjeta div a:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#sec_productos .product_tarjetas .tarjeta:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 1350px) {
  #banner_productos #mensaje_banner h1 {
    font-size: 3rem;
    text-align: center;
  }
}
@media screen and (max-width: 660px) {
  #banner_productos #mensaje_banner h1 {
    font-size: 2rem;
    text-align: center;
  }
}
#servicios_container {
  padding: 3rem;
}
#servicios_container .servicio {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5rem;
}
#servicios_container .imagen_serv {
  height: 20rem;
  width: 32rem;
  border-radius: 324.5px 0px;
  border-radius: 200px 0px;
}
#servicios_container .imagen_serv img {
  height: 20rem;
  width: 32rem;
  border-radius: 300px 0px;
}
#servicios_container .descripcion_serv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#servicios_container .descripcion_serv h2 {
  font-size: 2rem;
  font-family: "Roboto Serif", serif;
  font-weight: bolder;
  padding-bottom: 2rem;
}
#servicios_container .descripcion_serv p {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  padding-bottom: 2rem;
}
#servicios_container .descripcion_serv .btn_empty {
  background-color: white;
  border: 2px solid black;
  width: 11rem;
  height: 3rem;
  border-radius: 1rem;
}
#servicios_container .descripcion_serv .btn_empty a {
  margin-top: 0.9rem;
  position: absolute;
  margin-left: 2rem;
}
#servicios_container .descripcion_serv .btn_empty a #bt_h2 {
  font-weight: bolder;
  font-size: 0.9rem;
  color: black;
  font-family: "Roboto", sans-serif;
}
#servicios_container .descripcion_serv .btn_empty:hover {
  background-color: #F94F46;
  border: 2px solid black;
  width: 11rem;
  height: 3rem;
  border-radius: 1rem;
}
#servicios_container .descripcion_serv .btn_empty:hover a {
  margin-top: 0.9rem;
  position: absolute;
  margin-left: 2rem;
}
#servicios_container .descripcion_serv .btn_empty:hover a #bt_h2 {
  font-weight: bolder;
  font-size: 0.9rem;
  color: white;
  font-family: "Roboto", sans-serif;
}
#servicios_container #Sublimacion .imagen_serv {
  background-color: #F46E6E;
}
#servicios_container #Sublimacion .descripcion_serv {
  left: -7rem;
}
#servicios_container #diseñoGrafico .imagen_serv {
  background-color: #FED9D9;
}
#servicios_container #diseñoGrafico .descripcion_serv {
  left: 7rem;
}
#servicios_container #laser .imagen_serv {
  background-color: #FFF1C1;
}
#servicios_container #laser .descripcion_serv {
  left: -7rem;
}
#servicios_container #impr3D .imagen_serv {
  background-color: #F4BF6E;
}
#servicios_container #impr3D .descripcion_serv {
  left: 7rem;
}

@media screen and (max-width: 1350px) {
  #servicios_container {
    padding: 3rem;
  }
  #servicios_container .servicio {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5rem;
  }
  #servicios_container .imagen_serv {
    height: 20rem;
    width: 32rem;
    border-radius: 324.5px 0px;
    border-radius: 200px 0px;
  }
  #servicios_container .imagen_serv img {
    height: 20rem;
    width: 32rem;
    border-radius: 300px 0px;
  }
  #servicios_container #Sublimacion .imagen_serv {
    background-color: #F46E6E;
  }
  #servicios_container #Sublimacion .descripcion_serv {
    margin-left: 0.5rem;
    left: 0rem;
  }
  #servicios_container #diseñoGrafico .imagen_serv {
    background-color: #FED9D9;
  }
  #servicios_container #diseñoGrafico .descripcion_serv {
    left: 0rem;
  }
  #servicios_container #laser .imagen_serv {
    background-color: #FFF1C1;
  }
  #servicios_container #laser .descripcion_serv {
    margin-left: 0.5rem;
    left: 0rem;
  }
  #servicios_container #impr3D .imagen_serv {
    background-color: #F4BF6E;
  }
  #servicios_container #impr3D .descripcion_serv {
    left: 0rem;
  }
}
@media screen and (max-width: 390px) {
  #servicios_container {
    padding: 3rem;
  }
  #servicios_container .servicio {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-bottom: 5rem;
  }
  #servicios_container .imagen_serv {
    display: none;
    height: 20rem;
    width: 32rem;
    border-radius: 324.5px 0px;
    border-radius: 200px 0px;
  }
  #servicios_container .imagen_serv img {
    height: 20rem;
    width: 32rem;
    border-radius: 300px 0px;
  }
  #servicios_container #Sublimacion .imagen_serv {
    background-color: #F46E6E;
  }
  #servicios_container #Sublimacion .descripcion_serv {
    margin-left: 0.5rem;
    left: 0rem;
  }
  #servicios_container #diseñoGrafico .imagen_serv {
    background-color: #FED9D9;
  }
  #servicios_container #diseñoGrafico .descripcion_serv {
    left: 0rem;
  }
  #servicios_container #laser .imagen_serv {
    background-color: #FFF1C1;
  }
  #servicios_container #laser .descripcion_serv {
    margin-left: 0.5rem;
    left: 0rem;
  }
  #servicios_container #impr3D .imagen_serv {
    background-color: #F4BF6E;
  }
  #servicios_container #impr3D .descripcion_serv {
    left: 0rem;
  }
}
img {
  max-width: 100%;
  display: block;
}

input {
  appearance: none;
  border-radius: 0;
}

.card {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 425px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
  padding: 0.75rem;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 65%;
  background-image: url("https://images.pexels.com/photos/907485/pexels-photo-907485.jpeg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: 0 5%;
  position: relative;
}

.card-heading {
  position: absolute;
  left: 10%;
  top: 15%;
  right: 10%;
  font-size: 1.75rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.222;
}
.card-heading small {
  display: block;
  font-size: 0.75em;
  font-weight: 400;
  margin-top: 0.25em;
}

.card-form {
  padding: 2rem 1rem 0;
}

.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}
.input + .input {
  margin-top: 1.5rem;
}

.input-label {
  color: #8597a3;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
.input-field:focus, .input-field:valid {
  outline: 0;
  border-bottom-color: #F94F46;
}
.input-field:focus + .input-label, .input-field:valid + .input-label {
  color: #F94F46;
  transform: translateY(-1.5rem);
}

.action {
  margin-top: 2rem;
}

.action-button {
  font: inherit;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #F94F46;
  border-radius: 6px;
  color: #FFF;
  border: 0;
}
.action-button:focus {
  outline: 0;
}

.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #f7ebeb;
  overflow-x: hidden;
  padding-top: 2rem;
  transition: 0.5s;
}
.sidenav h2, .sidenav h3, .sidenav a {
  font-family: "Poppins", sans-serif;
  padding-left: 1rem;
  text-decoration: none;
  font-size: 1rem;
  color: #352424;
  display: block;
  transition: 0.3s;
}
.sidenav a {
  font-size: 1.5rem;
}
.sidenav #carrito_top {
  display: flex;
  align-items: center;
}
.sidenav .carrito_item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.sidenav .carrito_item img {
  border-radius: 20%;
  width: 4rem;
  height: 5rem;
}
.sidenav .carrito_item #cantidad_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
}
.sidenav .carrito_item #cantidad_container #cantidad {
  padding-left: 1rem;
}
.sidenav .carrito_item .boton_blanco, .sidenav .carrito_item .btn_borrar {
  background-color: white;
  width: 1rem;
  border: none;
}
.sidenav .carrito_item .boton_blanco:hover, .sidenav .carrito_item .btn_borrar:hover {
  background-color: #F94F46;
  color: white;
}
.sidenav .carrito_item .btn_borrar {
  width: 4rem;
  background-color: #f7ebeb;
  color: #F94F46;
  margin-left: 1rem;
}
.sidenav #total {
  display: flex;
  justify-content: right;
}
.sidenav #total #precio_total {
  font-size: 1.2rem;
  padding-right: 1rem;
}

/*# sourceMappingURL=styles.css.map */
